body {
	background: #171717;
	font-size: 16px;
	font-family: Handlee;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 400px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	background-color: white;
}
.postcard-header {
	overflow: hidden;
}

.postcard-header img {
	max-width: 40px;
	height: 40px;
	float: right;
}

.postcard-body {
	overflow: hidden;
	display: flex;
}

.body-left,
.body-right {
	padding: x;
}

.postcard-footer {
	background: white;
	padding: 10px;
	text-align: center;
}
.postcard-footer input[type="submit"] {
	border: none;
	border-bottom: 1px solid grey;
}
